# Choosing mode (graphical|text|cmdline [--non-interactive])
text

# Use network installation
url --mirrorlist https://mirrors.fedoraproject.org/mirrorlist?repo=fedora-35&arch=x86_64

# Initial Setup Agent on first boot
firstboot --disabled

# System language
lang en_US.UTF-8
# Keyboard layout
keyboard --vckeymap=us --xlayouts="us"
# System timezone
timezone Etc/UTC --utc

# Network information
network --bootproto=dhcp --device=link --onboot=on
network --hostname=home.local

# Root password
rootpw --lock
# User password
user --name=admin --groups=wheel --gecos=admin --password=password

# Firewall configuration
firewall --enabled --service="ssh,cockpit"

# SELinux
selinux --enforcing

# Partitioning

## Clearing
zerombr
clearpart --all --initlabel --disklabel=gpt

## Partition layout

### System Disk
part /boot/efi  --fstype="efi"   --size=600    --ondisk=nvme0n1 
part /boot      --fstype="xfs"   --size=1024   --ondisk=nvme0n1 

part pv.10      --fstype="lvmpv" --size=100004 --ondisk=nvme0n1 
volgroup vg_system pv.10
logvol /        --fstype="xfs"   --size=50000  --name=root    --vgname=vg_system
logvol /var     --fstype="xfs"   --size=5000   --name=var     --vgname=vg_system
logvol /var/log --fstype="xfs"   --size=5000   --name=var_log --vgname=vg_system

### Data Disk
part pv.20      --fstype="lvmpv" --size=200004 --ondisk=sda
volgroup vg_data pv.20
logvol /var/lib/libvirt    --fstype="xfs" --size=100000 --name=var_lib_libvirt    --vgname=vg_data
logvol /var/lib/containers --fstype="xfs" --size=100000 --name=var_lib_containers --vgname=vg_data

# Packages
%packages --retries=5 --timeout=20
@core
ansible
cockpit
pcp
tuned
%end

# Services
services --enabled=cockpit.socket,sshd.service,tuned.service

# Reboot the system after installation.
reboot

# Enable kdump
%addon com_redhat_kdump --enable --reserve-mb='auto'
%end

%pre
%end

%post
%end
